In [41]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, f1_score, confusion_matrix, classification_report

In [42]:
df = pd.read_csv('/Users/wickedbear/Coding/Projects/Mortgage_Default/Data_and_Cleaning/revised_mort_data.csv')

In [43]:
df

,Unnamed: 0,id,balance_time,LTV_time,interest_rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,...,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,hpi_orig_time,default_time,payoff_time,status_time,ratio_paid
0,0,1,41303.42,24.498336,9.200,226.29,2.899137,4.7,0,0,...,0,45000.0,715,69.4,9.200,87.03,1,0,0,0.082146
1,1,2,105826.38,65.231343,7.680,226.29,2.899137,4.7,0,0,...,0,107200.0,558,80.0,7.680,186.91,0,1,1,0.012814
2,2,3,44866.18,30.551659,10.500,226.29,2.899137,4.7,0,0,...,0,48600.0,680,83.6,8.750,89.58,0,1,1,0.076828
3,4,5,52295.07,65.446133,9.155,226.29,2.899137,4.7,0,0,...,0,52800.0,527,80.0,9.155,186.91,0,1,1,0.009563
4,5,6,209058.33,66.733446,6.580,226.29,2.899137,4.7,0,0,...,0,212000.0,670,80.0,6.580,191.42,1,0,0,0.013876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38053,46281,49966,93568.44,101.865855,6.875,161.13,1.081049,8.0,0,0,...,1,103200.0,726,80.0,6.875,226.29,1,0,0,0.093329
38054,46284,49970,78004.35,101.199851,7.500,161.13,1.081049,8.0,0,0,...,1,86600.0,672,80.0,7.500,226.29,0,1,1,0.099257
38055,46286,49972,180673.24,103.306966,7.500,161.13,1.081049,8.0,0,0,...,0,196000.0,708,79.8,7.500,226.29,1,0,0,0.078198
38056,46297,49983,199721.99,62.251083,6.500,161.13,1.081049,8.0,0,0,...,0,232000.0,665,74.8,6.500,155.77,0,1,1,0.139129
38057,46298,49984,128637.32,49.398391,6.400,161.13,1.081049,8.0,0,0,...,0,150000.0,588,62.0,6.400,149.70,0,1,1,0.142418

In [44]:
cols_drop = ['Unnamed: 0', 'id', 'default_time', 'payoff_time', 'ratio_paid']

In [45]:
df.drop(columns=cols_drop, inplace=True)

In [46]:
df

,balance_time,LTV_time,interest_rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,hpi_orig_time,status_time
0,41303.42,24.498336,9.200,226.29,2.899137,4.7,0,0,1,0,45000.0,715,69.4,9.200,87.03,0
1,105826.38,65.231343,7.680,226.29,2.899137,4.7,0,0,1,0,107200.0,558,80.0,7.680,186.91,1
2,44866.18,30.551659,10.500,226.29,2.899137,4.7,0,0,1,0,48600.0,680,83.6,8.750,89.58,1
3,52295.07,65.446133,9.155,226.29,2.899137,4.7,0,0,1,0,52800.0,527,80.0,9.155,186.91,1
4,209058.33,66.733446,6.580,226.29,2.899137,4.7,0,0,1,0,212000.0,670,80.0,6.580,191.42,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38053,93568.44,101.865855,6.875,161.13,1.081049,8.0,0,0,1,1,103200.0,726,80.0,6.875,226.29,0
38054,78004.35,101.199851,7.500,161.13,1.081049,8.0,0,0,1,1,86600.0,672,80.0,7.500,226.29,1
38055,180673.24,103.306966,7.500,161.13,1.081049,8.0,0,0,1,0,196000.0,708,79.8,7.500,226.29,0
38056,199721.99,62.251083,6.500,161.13,1.081049,8.0,0,0,0,0,232000.0,665,74.8,6.500,155.77,1
38057,128637.32,49.398391,6.400,161.13,1.081049,8.0,0,0,1,0,150000.0,588,62.0,6.400,149.70,1

In [23]:
# df.to_csv('/Users/wickedbear/Coding/Projects/Mortgage_Default/Data_and_Cleaning/clean_data.csv')

In [47]:
y = df['status_time']
X = df.drop('status_time', axis=1)
X.head()

,balance_time,LTV_time,interest_rate_time,hpi_time,gdp_time,uer_time,REtype_CO_orig_time,REtype_PU_orig_time,REtype_SF_orig_time,investor_orig_time,balance_orig_time,FICO_orig_time,LTV_orig_time,Interest_Rate_orig_time,hpi_orig_time
0,41303.42,24.498336,9.200,226.29,2.899137,4.7,0,0,1,0,45000.0,715,69.4,9.200,87.03
1,105826.38,65.231343,7.680,226.29,2.899137,4.7,0,0,1,0,107200.0,558,80.0,7.680,186.91
2,44866.18,30.551659,10.500,226.29,2.899137,4.7,0,0,1,0,48600.0,680,83.6,8.750,89.58
3,52295.07,65.446133,9.155,226.29,2.899137,4.7,0,0,1,0,52800.0,527,80.0,9.155,186.91
4,209058.33,66.733446,6.580,226.29,2.899137,4.7,0,0,1,0,212000.0,670,80.0,6.580,191.42

In [48]:
X.isna().sum()

balance_time               0
LTV_time                   0
interest_rate_time         0
hpi_time                   0
gdp_time                   0
uer_time                   0
REtype_CO_orig_time        0
REtype_PU_orig_time        0
REtype_SF_orig_time        0
investor_orig_time         0
balance_orig_time          0
FICO_orig_time             0
LTV_orig_time              0
Interest_Rate_orig_time    0
hpi_orig_time              0
dtype: int64

In [51]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [52]:
# Instantiate an AdaBoostClassifier
adaboost_clf = AdaBoostClassifier(random_state=42)

# Instantiate an GradientBoostingClassifier
gbt_clf = GradientBoostingClassifier(random_state=42)


ada_cv_score = cross_val_score(adaboost_clf, X_train, y_train, cv=3)
mean_ada_cv_score = np.mean(ada_cv_score)

gdb_cv_score = cross_val_score(gbt_clf, X_train, y_train, cv=3)
mean_gdb_cv_score = np.mean(gdb_cv_score)


print(f"Mean Cross Validation Score: {mean_ada_cv_score :.2%}")
print(f"Mean Cross Validation Score: {mean_gdb_cv_score :.2%}")

Mean Cross Validation Score: 73.71%
Mean Cross Validation Score: 74.23%

In [53]:
mean_ada_cv_score

0.7370982654908698

In [54]:
mean_gdb_cv_score

0.742283488606652